{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": "last 2 versions",
					"node": "current"
				}
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties"
	]
}
